@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:url("background.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.Quote {
  
  display: -ms-inline-grid;
  grid-template-columns: 500px;
  grid-template-rows: 210px 80px;
  grid-template-areas: "text" "quotes";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: Poppins;
  text-align: center;
  max-width: 500px;

}


.text {
  grid-area: text;
  margin: 25px;
}
.text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
  text-align: justify;
  padding: 10px 20px;
}
.text h2 {
  margin-top:0px;
  font-size:28px;
}
.quote1 {
  grid-area: quotes; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
  cursor: pointer;
}
.quote1 .q2 {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
.quote1 .border {
  border-left: 0px solid rgb(172, 26, 87);
  border-right: 0px solid rgb(172, 26, 87);
  cursor: pointer;
}
.quote1 .value{
  font-size:22px;
  font-weight: 500;
  cursor: pointer;
}
.quote1 .value sup{
  font-size:12px;

}
.quote1 .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}


@media screen and (max-width:700px) {

  .body {
  width: 150%;
  }
}